/* 
estilo de imagen en los cards
*/

.card {
    width: 100%;
    border-color: nth($lista-colores, 2);
    &.card-product{
        margin: 10px;
        padding: 10px;
    }

    &:hover{
        border-color: $color-terciario;
        box-shadow: 5px 2px 10px $color-cuarto;
    }
    .card-img {
        height: 200px;
        width: auto;
    }

    h1, h2, h3, h4, h5 {
        text-align: center;
        margin: 30px;
        color: $color-secundario;
    }
    p {
        color: $color-principal;
    }
}
