.category-index {
    margin-bottom: 40px;
    width: 100%;
    overflow: auto;
    p{
        color: $color-principal;
    }
    h2 {
    text-align: center;
    margin: 30px;
    padding: 10px;

    }
    article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        a {
            display: block;
            text-align: center;
            justify-content: space-between;
        }
        div{
            border-radius: 100%;
            padding: 30px;
            box-shadow: 0px 5px 7px $color-quinto;
            margin: 10px 0;
            
            h5{
                color: $color-terciario;
            }
        }
    }
}


/* 
    estilo para pildora de imagen
*/
.pill-img {
    height: 80px;
    width: 80px;
    margin: 0px 15px;    
}

main{
    section {
        &>h2 {
            color: $color-terciario;

        }
    }
}


/* Estilo para las tarjetas */
.destacados {
    section {
        article{
            width: 250px;
            height: 350px;
            border: 1px solid $color-principal;
            border-radius: 20px;
            margin: 20px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            margin: 10px;
            background-color: #083147;
            color: #f5f2f2;
            padding: 5px;
            margin: 5px;
        }
    }
}


/* Estilos para el icono de whatsapp */
.whatsapp {
    img{
        @media only screen and (min-width: 426px) {
            @include wpp-size(60px, 60px, 20px, 20px)
        }

        @media only screen and (max-width: 426px) {
            @include wpp-size(40px, 40px, 20px, 20px)
        }
    } 
}

/* Estilos para grid  */
.section-grid{
    @media only screen and (min-width: 1300px) {
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        justify-items: center;

        .img-qs{
            @include img-size(350px, auto)
        }

        article{
            &:first-child{
               grid-column: span 2;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 20px;
        width: 100%;
        .img-qs{
            @include img-size(100%, 100%)
    
        }
    }
}

.text-contact {
    text-align: center;
    margin-top: 30px;
}



