// paleta de colores
$color-principal: #252F48;
$color-secundario: #D16D79;
$color-terciario: #4E5C94;
$color-cuarto: #ECECEE;
$color-quinto: #b8c0e39e ;

$lista-colores: $color-principal, $color-secundario, $color-terciario, $color-cuarto, $color-quinto;
